html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-canvas {
  position: absolute;
      height: 300px;
      width: 880px;
      left: 85px;
      top: 185px;
}
.button {
    top: 113px;
    height: 70px;
    width: 220px;
    position: absolute;
}
